body {
    background-color: bisque;
}

h1{
    text-align: center;
}

.section{
    background-color: aliceblue;
}

.mega-section{
    width:fit-content;
}

.centered-image {
    text-align:center;
}
